{% extends 'dashboard/base.html' %}

{% block title %}
About us
{% endblock %}

{% block content %}
<h1 style="text-align: center;background-color: transparent;color: #2b2b2b;">About Us</h1>

<br>
<div class="aboutUsContainer" style="background-color: #4b4b4b; border-radius: 25px;padding:50px  50px;">

    <h3 style="text-align: center;color: #eee;">Our team is called High Voltage and 
        we are participating in FLL
        ( First Lego League).Our project name is
      S.E.E.M.S 
      (Smart Electricity Energy Monitoring System) 
      this project helps save Electricity in households by 
      measuring the consumption of devices and giving tips on how to save electricity more
      effectively and efficiently.</h3>

</div>



  {% endblock %}