@font-face {
    font-family: "MusticaPro";
    src:url(images/MusticaproSemibold-2OG5o.otf) format("opentype");
  }
@font-face {
    font-family: "Roboto";
    src: url(images/Roboto-Regular.ttf);
}



#greeting-name{
    background-color: #454545;
    padding-top: 50px;
    text-align: center;
    border-radius: 15px;
    padding-bottom:20px;
}

h1{
    background-color: #454545;
    color: #eee;
    z-index: 2;
    font-size: 70px;
}
.title-text{       
    background-color: #454545;
    color: #eee;
    z-index: 2;
    font-size: 40px;}
#name{
    background-color: #454545;
    color: #eee;
    font-size: 70px;
}
h2 {
    background-color: #454545;
    color: #eee;
    z-index: 2;
    font-size: 25px;
}
#date{
    padding-top: 20px;
    background-color: #454545;
    color: #eee;
    font-size: 25px;
}
    
    

